## Import Libraries

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Reading the data

In [9]:
housing_data = pd.read_csv("housing_price_dataset.csv")
housing_data.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [11]:
train, test = train_test_split(housing_data, test_size=0.2, random_state=42)
train = train.reset_index(drop=True)
test = test.reset_index(drop=True)

In [13]:
display(train.head())
display(test.head())

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2498         2          3        Rural       2021  288178.195769
1        2380         5          3        Urban       1977  374155.921378
2        2274         5          2        Urban       1957  242571.549240
3        2215         5          1       Suburb       1977  150048.317779
4        2078         2          3       Suburb       1962  241134.908315

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        1894         5          1        Rural       1975  170835.035713
1        1001         5          3       Suburb       1963  126913.469998
2        2264         4          3       Suburb       1964  246611.883092
3        2299         5          1       Suburb       1999  244250.462969
4        2651         2          1       Suburb       1951  271127.650112

## EDA